<li class="separator acl-write"></li>
<li id="custom-style" class="acl-write">
    <select id="custom-style-selection">
        <option value="style0" selected="selected">Custom Style</option>
        <option value="style1">Test 1</option>
        <option value="style2">Test 2</option>
        <option value="style3">Test 3</option>
        <option value="style4">Test 4</option>
        <option value="style5">Test 5</option>
        <option value="style6">Test 6</option>
    </select>
</li>
